<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-0 py-3">
        <div class="row stats-con pb-lg-3">
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <p class="counter">@ViewBag.destinationCount</p>
                <h4>Rotalarımız</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid1">
                <p class="counter">@ViewBag.guideCount</p>
                <h4>Rehberlerimiz</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
                <p class="counter">240</p>
                <h4>Mutlu Müşterilerimiz</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid2 mt-lg-0 mt-5">
                <p class="counter">12</p>
                <h4>Ödüllerimiz</h4>
            </div>
        </div>
    </div>
</section>