@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg bg-transparent shadow-none position-absolute px-4 w-100 z-index-2">
        <div class="container-fluid py-1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 ps-2 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="text-white opacity-5" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-white active" aria-current="page">Profile</li>
                </ol>
                <h6 class="text-white font-weight-bolder ms-2">Profile</h6>
            </nav>
        </div>
    </nav>
    <!-- End Navbar -->
    @await Component.InvokeAsync("_ProfileCover")
    <div class="container-fluid py-4">
        <div class="row">

            @await Component.InvokeAsync("_ProfileInformation")
            @await Component.InvokeAsync("_PlatformSetting")
            @await Component.InvokeAsync("_GuideList")
           
        </div>
    </div>
</div>