
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Traversal Kayıt Ol</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- LINEARICONS -->
	<link rel="stylesheet" href="~/colorlib-regform-26/onts/linearicons/style.css">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/colorlib-regform-26/css/style.css">
</head>

<body>

	<div class="wrapper">
		<div class="inner">
			<img src="~/colorlib-regform-26/images/image-1.png" alt="" class="image-1">
			<form action="">
				<h3>Bir hesabın yok mu?</h3>
				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					<input type="text" class="form-control" placeholder="Ad">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-phone-handset"></span>
					<input type="text" class="form-control" placeholder="Soyad">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-envelope"></span>
					<input type="email" class="form-control" placeholder="E-posta">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-envelope"></span>
					<input type="tel" class="form-control" placeholder="Telefon">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input type="password" class="form-control" placeholder="Şifre">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input type="password" class="form-control" placeholder="Şifre Tekrar">
				</div>
				<button>
					<span>Kayıt Ol</span>
				</button>
			</form>
			<img src="~/colorlib-regform-26/images/image-2.png" alt="" class="image-2">
		</div>

	</div>

	<script src="~/colorlib-regform-26/js/jquery-3.3.1.min.js"></script>
	<script src="~/colorlib-regform-26/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>